aiofiles==25.1.0
aiohttp==3.12.15
ccxt==4.5.18
matplotlib==3.10.7
mplfinance==0.12.10b0
pandas==2.3.3
python-dotenv==1.2.1
python-telegram-bot==22.5
pytz==2025.2
requests==2.32.5
telegramify_markdown==0.5.2
TA-Lib==0.6.8